/* From Uiverse.io by ilkhoeri */
.action-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 9999px;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.backdrop::before {
    content: "";
    position: absolute;
    height: 10.5rem;
    width: 10.5rem;
    border-radius: 9999px;
    background: linear-gradient(144deg, #ff630e, #fff);
    animation: rotate 1.5s linear infinite;
}

.backdrop::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    border-radius: 9999px;
    z-index: 1;
}

.action {
    --sz-light-hover: 60px;
    --rd-light-hover: 9999px;
    --l-light-hover: 14px;
    --cl-light: #0000;
    --cr-light: #ff630e;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        transform,
        color,
        background-color,
        300ms ease;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    color: #444444;
    background: none transparent;
    cursor: pointer;
    padding: 0.5rem;
    /* border-radius: 9999px; */
}

.action.call {
    width: 50px;
}

@media (max-width: 576px) {

    .action {

        height: 2.5rem;
        width: 2.5rem;
    }

    .action.call {
        width: 35px;
    }

}

.action-icon {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 9;
    /* padding: 0.5rem; */
    border-radius: 9999px;
    /* background-color: #f1f1f1; */
    transition:
        transform,
        color,
        background,
        300ms ease;
}

.action-content {
    --sz-light-hover: 100px;
    --rd-light-hover: 6px;
    --l-light-hover: 0px;
    --cl-light: #fff;
    --cr-light: #ff630e;
    transition:
        transform,
        400ms ease;
    opacity: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: inherit;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 80px;
    height: 1.75rem;
    padding: 8px 1px;
    position: absolute;
    right: 0;
    z-index: -1;
    border: 1px solid #ccc;
}

.action-content::before {
    content: attr(data-content);
    transition:
        transform,
        300ms ease;
    text-transform: capitalize;
    font-size: medium;
    font-weight: 600;
    z-index: 1;
    transform: translateX(-100%);
    background-color: #fff;
    border-radius: calc(var(--rd-light-hover) - 2px);
    padding-inline: 4px;
}

/* .action::after, */
.action-content::after {
    content: "";
    opacity: 0;
    position: absolute;
    border-radius: var(--rd-light-hover);
    transition: all 50ms ease 200ms;
    background: conic-gradient(from 45deg at 50% 50%,
            var(--cl-light),
            var(--cr-light),
            var(--cl-light),
            var(--cl-light),
            var(--cl-light),
            var(--cr-light),
            var(--cl-light),
            var(--cl-light),
            var(--cl-light));
}

.action:hover .action-icon {
    color: #000;
    /* background-color: #fff; */
    transform: scale(1.4)
        /* translate3d(12px, 0px, 12px); */
}

.action:hover::after,
.action-content::after {
    height: var(--sz-light-hover);
    width: var(--sz-light-hover);
    right: var(--l-light-hover);
    opacity: 1;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}

.action:hover .action-content {
    color: #000;
    background-color: #fff;
    opacity: 1;
    width: 45px;
    right: calc(100% + 15px);
    z-index: 9;
}

.action:hover .action-content.top {
    color: #000;
    background-color: #fff;
    opacity: 1;
    width: 80px;
    right: calc(100% + 15px);
    z-index: 9;
    top: 0;
}

.action:hover .action-content.bottom {
    color: #000;
    background-color: #fff;
    opacity: 1;
    width: 80px;
    right: calc(100% + 15px);
    z-index: 9;
    top: 35px;
}

.action:hover .action-content::before {
    transform: translateX(0px);
}