@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 5));
    }
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 10);
}

.slider .slide {
    height: 100px;
    /* width: 250px; */
    margin: 0 50px;
}

.slider .slide img {
    height: 100px;;
    object-fit: contain;
}

@media (max-width: 576px) {
    .slider {
        height: 50px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: auto;
    }


    .slider .slide {
        height: 50px;
        /* width: 250px; */
        margin: 0 50px;
    }

    .slider .slide img {
        height: 50px;
        object-fit: contain;
    }

}